@import "tailwindcss";

:root {
  --background: #1f1f1f;
  --foreground: #f7f7f7;
  --foreground-black: #3f3f3f;
  --label: #585858;

  --primary: #425be9;
  --primary-shade: #427ce9;

  --secondary: #ff8623;
  --secondary-shade: #ffb223;

  --success: #65e000;
  --danger: #ff3d3d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-label: var(--label);
  --color-primary: var(--primary);
  --color-primary-shade: var(--primary-shade);
  --color-secondary: var(--secondary);
  --color-secondary-shade: var(--secondary-shade);
  --color-success: var(--success);
  --color-danger: var(--danger);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}


::-webkit-scrollbar {
  border-radius: 6px;
  width: 10px !important;
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary);
  border-radius: 10px;
}